html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body {
  margin: 0 auto;
  background: #eee;
}

#header, #footer {
  text-align: center;
}

#main {
  display: grid;
  grid-template-areas: 
    "input output"
    "settings settings";
  grid-template-columns: 1fr 3fr;
  background: white;
  padding: 3px;
}

#input-display {
  grid-area: input;
  padding: 10px;
  overflow: hidden;
  max-height: 80vh;
}

#input-display canvas {
  width: 100%;
}

input[type="file"] {
  margin: 10px auto;
  width: 100%;
}

input[type="text"] {
  margin: 10px 0;
  width: 100%;
}

#settings {
  grid-area: settings;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  border: 2px solid gray;
}
#settings h2 {
  width: calc(100% - 26px);
  background: lightgray;
  padding: 3px;
  margin: 10px 4px;
  text-align: center;
  font-size: 1.3em;
}

#settings input[type=range] {
  width: 100%;
  display: block;
  margin: 0px 5px 15px 0px;
  font-size: 1.3em;
}

#output-display {
  grid-area: output;
  padding: 10px;
}
#output-display canvas {
  width: 100%;
}

/* method change styles =================================*/
.method-change{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch input {display:none;}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: .5rem;
  bottom: .25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch-slider {
  background-color: grey;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px grey;
}

input:checked + .switch-slider:before {
  transform: translateX(1rem);
}

.switch-slider {
  border-radius: 10px;
}

.switch-slider:before {
  border-radius: 50%;
}

.state{
  margin: 0 1rem;
}

.block-input-file {
  margin: 5px 0
}

.block-input-url {
  margin: 5px 0 10px 0;
}

#file-url-error {
  color: red;
  display: none;
}

ul.footer-list img{
  height: 40px;
  width: 40px;
  display: block;
  margin: 0 auto;
}

ul.footer-list {
  width: 60%;
  margin: 10px auto ;
}

ul.footer-list li {
  display: inline-block;
  padding: 0 20px;
  border-left: 3px solid #333;
}

ul.footer-list li:first-child {
  border-left: 0px solid #333;
}


@media screen and (min-width: 600px) {
  #main {
    grid-template-areas:
      "input output settings";
  }
}