#wrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: 1fr 5fr 1fr;
}

#header {
  grid-area: header;
  background: cornflowerblue;
  text-align: center;
}

#main {
  grid-area: main;
  display: grid;
  grid-template-areas: 
    "settings" "output";
  grid-template-columns: 15em auto;
  grid-template-rows: 1fr;
  background: darkgray;

}

#settings {
  box-sizing: border-box;
  transform: scale(.95);
  box-shadow: 5px 0px 10px 0px rgba(44,53,61,0.54);
  background: white;
  grid-area: settings;
  padding: 10px;
  overflow: hidden;
}

#settings input[type=range] {
  width: 80%;
  display: block;
  margin: 0px 5px 15px 0px;
  font-size: 1.3em;
}

#input-display canvas {
  width: 100%;
}

input[type="file"] {
  margin: 10px;
}
fieldset {
  margin: 10px 0px;
}
#output-display {
  height: 100%;
  text-align: center;
  padding: 15px auto;
}
#output-display canvas {
  width: 88%;
  margin: 1em auto;
  box-shadow: 0px -15px 28px 3px rgba(44,53,61,0.54);
}


#footer {
  grid-area: footer;
  text-align: center;
}
